.loginicon{
  margin: 20px;
  background-color: rgb(47, 21, 17) !important;

}

.MuiGrid-root.MuiGrid-container.css-11lq3yg-MuiGrid-root, .Loglink {
  color: rgba(143, 101, 2, 0.825) !important;
  text-decoration-color: rgba(143, 101, 2, 0.825) !important ;  
  margin-bottom: 100px !important;

}


.LoginBtn{
  background-color: rgba(143, 101, 2, 0.825) !important;
}

